<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="~/css//all.min.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css" integrity="sha512-YzwGgFdO1NQw1CZkPoGyRkEnUTxPSbGWXvGiXrWk8IeSqdyci0dEDYdLLjMxq1zCoU0QBa4kHAFiRhUL3z2bow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     <header id="header" class="header">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="index.html" class="navbar-brand">
          <img src="img/logo.png" alt="company logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#myNavbar"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item mx-2 nav-active">
              <a href="/Home" class="nav-link">Home</a>
            </li>
      
      
            <li class="nav-item mx-2">
              <a href="/Product" class="nav-link">Store</a>
            </li>
          </ul>
        </div>
        <div class="navbar-icons d-none d-lg-flex">
          <!-- single icon -->
          <div class="navbar-icon mx-2"><i class="fas fa-search"></i></div>
          <!-- end of single icon -->
          <!-- single icon -->
          <a href="store.html" class="navbar-icon mx-2 navbar-cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <div class="cart-items">2</div>
          </a>
          <!-- end of  single icon -->
        </div>
      </nav>
      <!-- end of navbar -->
      <div class="banner d-flex align-items-center pl-3 pl-lg-5">
        <div>
          <h1 class="text-slanted text-capitalize mb-0">
            Minimalist
          </h1>
          <h1 class="text-lowercase font-weight-bold">
            interior style
          </h1>
          <a href="#" class="btn btn-yellow"> view collection </a>
        </div>
      </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
